<%= select_tag :schedule_id, options_from_collection_for_select(@clients,'id','get_client_name'), prompt: 'Please select client', id: 'client_id', class: 'form-control client' %><br>



<div id="family_members">
</div>

<script type="text/javascript">
  $('#client_id').change(function() {
    var client_id = $("#client_id option:selected").val();
    $.ajax({
        url: '<%= add_itinerary_traveller_itinerary_path %>',
        type: 'get',
        data: {client_id: client_id},
        dataType: 'script'
      });
  });
</script>
