$hover-color: #007bff;
$primary-color-light: #f0d1db;
$text-color: #2e2e2e;
$primary-color-hover: rgba(209,209,240,0.2);
.pagination {
    .page-item.active .page-link, .page-item.active .page-link:hover {
        background: $hover-color !important;
        border-color: $hover-color !important;
        color: white;
    }
    .page-item .page-link:hover {
        background: $primary-color-hover !important;
    }
    .page-item .page-link {
        border-radius: 0 !important;
        color: $text-color;
        padding: 10px 20px;
        outline: none !important;
        box-shadow: none !important;
    }
}
.product_image_size {
  width: 50px;
  height: 50px;
  margin-left: 0;
}
.text-white{
  color: white;
}
.rating_comment_user_info{
  font-size: 14px;
}
img.raty-cancel {
  display: none;
}
.error_message{
  color: red;
}
.timepicker_addon{
  padding: 10px 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
}
